body {
    background: #1a2c2c;
    color: white;
    font-family: sans-serif;
}

@media only screen and (max-width: 1700px) {
    body{
        font-size: 12px;
    }
    }

.point-container {
    display: flex;
    align-content: center;
    background-color: black;
    margin: 1%;
}

.point-container div {
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
}
.grass-points-div {
    background-color: green;
}

.water-points-div {
    background-color: darkblue;
}

.fire-points-div {
    background-color: red;
}

.game-container {
    display: flex;
    background-color: darkslategrey;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

#canvas {
    border: 3px solid white;
    width: 960px;
    height: 600px;
    margin: 10px;
    background-color: #64adad;
}

.game-guide {
    width: 20%;
    padding: 1%;
}

.controls {
    width: 10%;
    padding: 1%;
}

.canvas-box {
    position: relative;
}
